* {
    color: #ffe53e
    ;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.stroke {
    -webkit-text-fill-color:#292300;

    -webkit-text-stroke: 0.04em;  }
h1{
    text-align: center;
    font: bolder 3em "Open Sans", serif;
}
h2{
    text-align: center;
    font: bolder 2.5em "Open Sans", serif;
}
.top-horizontal {  
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    text-align:center;
    font-size: 1.2em;
}
h3{
    text-align: center;
}
nav
{
    text-align: center;
    height: 100%;
    float: left;
    position: sticky;
    margin-right: 7em;
}
nav ul{
justify-content: center;
position: sticky;
margin-right: auto;
margin-left: auto;
width: 100%;
top: 0;
bottom: 0;
}

span+span{
    margin-left: 10px;
}
.Navigation li{
    font-size: 1.5em;
    display: block;
    height: 3em;
    margin-top: 4.5em;
    margin-bottom: 3em;
}
.Hero{
    margin-right: 6em;
    overflow: auto;
    margin-top: 3em;
}
.Hero li{
    margin-top: 3em;
}
ul.Navigation{
    justify-content: center;
}
@media (max-width:800px) {
    .top-horizontal{
        display: block;
    }
.Hero{
    display: none;
}
nav{
width: 100%;
}
}